<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesginPattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Prototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SimpleFactory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Singleton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>StaticFactoryMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Strategy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F959E961CFD36E300618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959EA51CFD3D9500618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959EBD1CFD3D9500618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959EC81CFD3D9500618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959EDC1CFD3DC500618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959EF41CFD3DC700618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959EFF1CFD3DC700618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959F131CFD58B200618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959F2A1CFD5AF400618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959F581CFD7D2B00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F959F661CFD811D00618248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
